
<div class="container">
  <div class="col-xs-12">
    <h1>Pages#home</h1>
    <p>Find me in app/views/pages/home.html.erb</p>
    <h1>Button</h1>
    <%= button_to 'log out', destroy_user_session_path, method: :delete %>
  </div>
  <div class="col-xs-12">
    <h1>Badges</h1>
    <%= render 'shared/components/badge' %>
  </div>
  <div class="col-xs-12">
    <h1>Breadcrumbs</h1>
    <%= render 'shared/components/breadcrumb' %>
  </div>
  <div class="col-xs-12">
    <h1>Dropdown</h1>
    <%= render 'shared/components/dropdown' %>
  </div>
  <div class="col-xs-12">
    <h1>Dropup</h1>
    <%= render 'shared/components/dropup' %>
  </div>
  <div class="col-xs-12">
    <h1>Button Dropdown</h1>
    <%= render 'shared/components/button-dropdown' %>
  </div>
    <div class="col-xs-12">
    <h1>Split-Button-Dropdown</h1>
    <%= render 'shared/components/split-button-dropdown' %>
  </div>
  <div class="col-xs-12">
    <h1>Button Toolbar</h1>
    <%= render 'shared/components/button-toolbar' %>
  </div>
  <div class="col-xs-12">
    <h1>Button-Group</h1>
    <%= render 'shared/components/button-group' %>
  </div>
  <div class="col-xs-12">
    <h1>Button-Group-Vertical</h1>
    <%= render 'shared/components/button-group-vertical' %>
  </div>
  <div class="col-xs-12">
    <h1>Input-Group</h1>
    <%= render 'shared/components/input-group' %>
  </div>
  <div class="col-xs-12">
    <h1>Tabs</h1>
    <%= render 'shared/components/tabs' %>
  </div>
  <div class="col-xs-12">
    <h1>Pills</h1>
    <%= render 'shared/components/pills' %>
  </div>
  <div class="col-xs-12">
    <h1>Jumbotron</h1>
    <%= render 'shared/components/jumbotron' %>
  </div>
  <div class="col-xs-12">
    <h1>Label</h1>
    <%= render 'shared/components/label' %>
  </div>
  <div class="col-xs-12">
    <h1>List-Group</h1>
    <%= render 'shared/components/list-group' %>
  </div>
  <div class="col-xs-12">
    <h1>Media-Object</h1>
    <%= render 'shared/components/media-object' %>
  </div>
  <div class="col-xs-12">
    <h1>Page-Header</h1>
    <%= render 'shared/components/page-header' %>
  </div>
  <div class="col-xs-12">
    <h1>Pager</h1>
    <%= render 'shared/components/pager' %>
  </div>
  <div class="col-xs-12">
    <h1>Pagination</h1>
    <%= render 'shared/components/pagination' %>
  </div>
  <div class="col-xs-12">
    <h1>Panel</h1>
    <%= render 'shared/components/panel' %>
  </div>
  <div class="col-xs-12">
    <h1>Progress-Bar</h1>
    <%= render 'shared/components/progress-bar' %>
  </div>
  <div class="col-xs-12">
    <h1>Thumbnail</h1>
    <%= render 'shared/components/thumbnail' %>
  </div>
</div>

